# Dependencies
node_modules/

# Environment
.env

# Build
dist/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Prisma
prisma/migrations/

# Tmp worker files
/tmp/autoclipper/
